.header {
  text-align: center;
  height: 715px;
  background-color: white;
}
.header img {
  width: 90%;
}
.profile-container {
  display: flex;
  padding-bottom: 10%;
  padding-top: 10%;
}
.profile-title-container {
  padding-right: 15%;
  margin-left: 10%;
  font-size: 130%;
}
.profile-title-container::after {
  position: absolute;
  top: 110%;
  left: 25%;
  margin: 0px 1rem;
  content: "";
  width: 1px;
  height: 350%;
  background-color: rgb(51, 51, 51);
}
dl {
  padding-bottom: 3%;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin-left: 5%;
  background: #f0f0f0;
}
dt {
  width: 45%;
  padding-top: 3%;
  padding-left: 15%;
}
dd {
  width: 45%;
  padding-top: 3%;
  padding-left: 5%;
}
img {
  width: 40%;
}
.gallay-container {
  display: flex;
  padding-bottom: 10%;
}
.gallay-title-container {
  padding-right: 15%;
  margin-left: 10%;
  font-size: 130%;
}
.sns-container {
  display: flex;
  padding-bottom: 10%;
}
.sns-container-title {
  padding-right: 15%;
  margin-left: 10%;
  font-size: 130%;
}

.gallay-container-ps {
  background-color: gray;
}
.gallay-ps {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.gallay-ps div {
  margin-bottom: 3rem;
  padding: 3rem;
  width: 40%;
  background-color: #f0f0f0;
}
.gallay-ps img {
  display: block;
  margin-bottom: 3rem;
  width: 100%;
  height: auto;
}
.flowbtn13 {
  font-family: "Arial", sans-serif;
  display: inline-block;
  width: 90%;
  font-size: 30px;
  text-align: left;
  border-bottom: dotted 1px #bbb;
  text-decoration: none;
}
/* マウスホバー時に下線を消す */
.flowbtn13:hover {
  text-decoration: none;
}
/* Instagram */
.flowbtn13 .fa-instagram {
  color: #c6529a;
}
/* Instagramマウスホバー時 */
.insta_btn13 span:hover {
  color: #c6529a;
}
